.git
.github
.pytest_cache
.cache
.venv
.cli-venv
node_modules
client/dist
server/.venv
server/nodejs/dist
server/nodejs/node_modules
**/__pycache__
**/*.pyc
*.log
.env
.env.*
!.env.template
!.env.example
!.env.*.example
.machina
data
docs-MachinaOs
